.secondSection {
  background: rgb(28, 35, 51);
  background: radial-gradient(
    circle,
    rgba(28, 35, 51, 1) 0%,
    rgba(0, 0, 0, 1) 43%
  );
}

#thirdSection {
  background-image: url("./assets/opticalLens.jpg");
  /* You can also specify additional properties to control how the image is displayed */
  background-size: cover; /* Makes the image cover the entire element */
  background-position: center; /* Centers the image within the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
